.login-container {
  background: url("http://hdwallsource.com/img/2014/1/cool-street-art-wallpaper-37602-38465-hd-wallpapers.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.95;
}

.login-text {
  font-family: monospace !important;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 20px;
}

.row {
  padding-top: 50px;
  margin-left: 0px;
  height: 800px;

}

.center_div{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.login{
  width: 120px;
  margin-bottom: 140px;
}

.form-control{
  padding-left: 30px;
}

.signup {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#follow-us {
  color:black;
  background-color: none !important;
}

.login-label {
  font-family: monospace !important;
}