.row {
  background: url("https://unsplash.com/photos/l5Tzv1alcps/download") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.95;
}

.navbar{

}

.navbar-header{
  margin-left: 50px;
}

#newGraf {
  padding: 50px 50px 120px 50px; 
}

p#creators.navbar-text{
  margin-left: 50px;
}

li#follow-us.pull-right.hidden-xs {
  padding-right: 0px;
}

ul.list-inline{
  margin-bottom: 0px; 
}

.graffiti {
  color: Black;
  font-family: Impact;
  font-size: 50px;
  text-align: center;
}

label{
  color: Black;
  font-family: Impact;
  font-size: 20px;
}

img.icons {
  margin-top: 12px;
  width: 25px;
  height: 25px;
}

img.icons.lastIcon{
  margin-right: 50px;
}